
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="jumbotron">
    <a class="btn btn-primary btn-lg" href="{% url 'show' %}">뒤로</a>
    <a class="btn btn-primary btn-lg" href="{% url 'edit' pk=board.pk %}">글 수정하기</a>
    <h1 class="display-6">제목:{{board.title}}</h1>
    <p class="lead">내용:{{board.body}}</p>
    <p class="lead">등록일:{{board.update_date}}</p>
    <a class="btn btn-primary btn-lg" href="{% url 'delete' pk=board.id %}">삭제</a>
</div>