<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
{% if error %}
<h3 style="color:red">{{error}}</h3>
{% endif %}
<div class="form-group">
<form action="" method="POST">
{% csrf_token %}
<table class="form-control">
{{ form.as_table }}
</table>
<input class="btn btn-primary" type="submit" value="회원가입">

</form>
</div>
</body>
</html>